@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-tiktok-sans: "TikTok Sans", sans-serif;
  --font-lato-regular: "TikTok Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz@12..36&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@layer utilities {
  .font-lato {
    font-family: var(--font-lato-regular);
  }

  .font-tiktok {
    font-family: var(--font-tiktok);
    font-optical-sizing: auto;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 0.75s ease-in-out infinite;
  color: inherit;
}

@media (max-height: 600px) {
  .small-screen-offset {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}


